body
{
    font-size: 14px;
    overflow-x:hidden;
}
.main-container
{
    max-width: 100%;
}
.no-padding
{
    margin-top: 42px;
}
/*navbar header*/
.navbar
{
    margin: 0 auto;
    background-color: transparent;
}
/*end navbar header*/

/*intro div*/
.content
{
    color:white;
    margin-top: 160px;
}
.title
{
 font-weight: 700;
}
.content h3
{
    font-size: larger;
    font-weight:700;
}

.cards img
{
    width: 200px;
    height: 250px;
}
/*end of intro div*/

/*section-info*/
.section-padd
{
    background-color: #005aff;
    color: white;
    background-size: cover;
    padding:45px 0;
}
.section-info h3
{
    font-weight: 600;
}
.get-started
{
    background-color: black;
    font-size: 1.25em;
    height: 60px;
    width: 210px;
    color: white;
    cursor: pointer;
    margin: 0 auto 0 auto;
}
.btn
{
    display: inline-block;
    text-transform: capitalize;
    padding-top: 18px;
    height: 60px;
    font-weight:600;
    font-size: larger;
    /*width: 210px;*/
    color: white;
}
/*end section info*/

/*section details*/
.section-details
{
    padding: 75px 0;
}
.details-container
{
    max-width: 1600px;
    margin:0 auto;
}
/*subsection1 subsection2 subsection3*/
.informations
{
    padding:90px 50px;
}
.text-black
{
    color: black;
    font-weight: 500;
}
.program-title
{
    font-size: 1.8em;
    font-weight: 500;
    margin:0 23px 30px;
}
.program-details
{
    margin: 1em -1em;
}
.sub-sections ul
{
    list-style: none;
}
.program-img
{
    padding: 0 30px;
}
.pull-right
{
    float: right!important;
}
/*end subsection1 subsection2 subsection3*/
/*end section details*/

/*@media (min-width: 768px).col-sm-offset-0
{
    margin-left:0;
}
    @media (min-width: 768px)
        .col-sm-12
    {
        width: 100%;
    }
        @media (min-width: 768px)
            .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9
            {
                float:left;
            }*/
@media screen and (min-width: 995px)
{
    .board-img
    {
        position: absolute;
    }
}

/*section-final*/
.final-container
{
    background-color:#005aff ;
    width: 100%;
}
.final-header
{
    padding-top: 100px;
    color: white;
}
.section-final
{
    margin-top: -70px;
    background-color: #005aff;
    height: 300px;
    max-width: 100%;
    background-size: cover;
    position: relative;
}
.btn-link
{
    height: 60px;
    width: 210px;
    font-size: 1.25em;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 80px 0 0;
}
.link
{
    text-transform: capitalize;
    display: inline-block;
    background-color: black;
    padding: 18px ;
    height: 60px;
    width: 210px;
    color: white;
}
.section-final.sub-sections
{
    position:relative;
}
.board-img
{
    padding-top: 100px;
    right: -128px;
    bottom:-300px;
    /*position: absolute;*/
    /*padding-left:150px*/
}
/*end section-final*/